doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Connexion - Gestion de Meubles
    link(rel="stylesheet" href="/css/styles.css")
  body
    header
      nav
        ul
          li: a(href="/") Accueil
          li: a(href="/login") Connexion
          li: a(href="/register") Inscription
    main
      h1 Connexion
      form(id="loginForm")
        div
          label(for="username") Nom d'utilisateur:
          input(type="text" id="username" name="username" required)
        div
          label(for="password") Mot de passe:
          input(type="password" id="password" name="password" required)
        div
          button(type="submit") Se connecter
    footer
      p © 2024 Gestion de Meubles. Tous droits réservés.
    
    script(src="/js/login.js")
